/* Write your CSS here */
.app-container {
  background-color: #93c5fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card-container {
  background-color: white;
  border-radius: 12px;
}
.heading {
  margin: 40px;
  color: #1e293b;
}
.select-container {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 1.5rem;
}
select {
  height: 1.8rem;
  width: 30%;
}
option {
  font-size: 1.3rem;
}
.country-name {
  font-size: 1.8rem;
  color: #1e293b;
  margin: 30px;
}
